.footer {
	padding: 38px 0 47px;
	background-color: #000000;
	text-align: center;
	@include mq(768px, min) {
		padding: 56px 0;
	}
	@include mq(1200px, min) {
		padding: 66px 0 70px;
	}
}
.footer__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	color: #fefefe;
	@include mq(768px, min) {
		font-size: 16px;
	}
}
.footer__text {
	font-size: 12px;
	line-height: 20px;
	color: $footer-color;
	margin: 8px 0 26px;
	@include mq(768px, min) {
		font-size: 16px;
		line-height: 28px;
		margin: 22px 0 37px;
	}
}
.footer__socials {
	margin-bottom: 25px;
	@include mq(768px, min) {
		margin-bottom: 34px;
	}
}
.socials {
	display: flex;
	justify-content: center;
}
.socials__item {
	&:not(:last-child) {
		margin-right: 6px;
	}
}
.address {
	@include mq(768px, min) {
	}
}
.address__row {
	font-size: 14px;
	line-height: 24px;
	color: $footer-color;
	@include mq(768px, min) {
		font-size: 16px;
		line-height: 26px;
		display: inline-block;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}
