* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.container_center {
	// background-color: white;
	width: 1170px;
    margin: 0 auto;
	//height: 100vh;

	@media (max-width: 1200px) {
		width: 100vw;
		padding-left: 5%;
		padding-right: 5%;
	}
	
}




// .header {
// 	padding-top: 23px;

// 	@include mq(768px, min) {
// 		padding-top: 40px;
// 	}
// }

// .header__menu-btn {
// 	margin-left: calc(100% - 44px);
// 	font-size: 0;
// 	width: 44px;
// 	height: 37px;
// 	background-color: #000000;
// 	border: none;
// 	cursor: pointer;
// 	margin-bottom: 23px;
// 	position: relative;

// 	.header__menu-btn-top,
// 	.header__menu-btn-middle,
// 	.header__menu-btn-bottom {
// 		position: absolute;
// 		background-color: #ffffff;
// 		width: 17px;
// 		height: 2px;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		transition: top 0.5s, transform 1.5s, width 1.5s;
// 	}
// 	.header__menu-btn-top {
// 		top: 13px;
// 	}
// 	.header__menu-btn-top--close {
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%) rotate(45deg);
// 	}
// 	.header__menu-btn-middle {
// 		top: 17px;
// 	}
// 	.header__menu-btn-middle--close {
// 		width: 0;
// 	}
// 	.header__menu-btn-bottom {
// 		top: 21px;
// 	}
// 	.header__menu-btn-bottom--close {
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%) rotate(135deg);
// 	}

// 	@include mq(768px, min) {
// 		display: none;
// 	}
// }


// .menu {
// 	display: inline-block;
// 	min-width: 182px;
// 	position: absolute;
// 	right: 25px;
// 	top: 60px;
// 	visibility: hidden;
// 	opacity: 0;
// 	transition: visibility 0.5s, opacity 0.5s;

// 	&--shown {
// 		visibility: visible;
// 		opacity: 1;
// 	}

// 	@include mq(768px, min) {
// 		visibility: visible;
// 		opacity: 1;
// 		position: static;
// 		display: flex;
// 		justify-content: center;
// 		margin-bottom: 43px;
// 	}
// 	@include mq(1200px, min) {
// 		margin-bottom: 51px;
// 	}
// }
// .menu__item {
// 	@include mq(768px, min) {
// 		&:not(:last-child) {
// 			margin-right: 34px;
// 		}
// 	}
// 	@include mq(1200px, min) {
// 		&:not(:last-child) {
// 			margin-right: 68px;
// 		}
// 	}
// }
// .menu__link {
// 	font-size: 11px;
// 	line-height: 22px;
// 	letter-spacing: 1.1px;
// 	text-transform: uppercase;
// 	color: $main-color;
// 	text-decoration: none;
// 	display: block;
// 	padding: 5px 13px;
// 	background: #f5f5f5;
// 	transition: background 0.5s, color 0.5s;
// 	&--curent {
// 		color: $menu-color-curent;
// 	}
// 	&:hover {
// 		background: #e5e5e5;
// 	}

// 	@include mq(768px, min) {
// 		padding: 0;
// 		background: none;
// 		&:hover {
// 			background: none;
// 			color: $menu-color-curent;
// 		}
// 	}
// }

// .header__img {
// 	display: block;
// 	& img {
// 		width: 100%;
// 	}
// }





.wrap {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-template-rows: auto;
	display: grid;
	overflow-y: hidden;
	grid-auto-rows: 0;
	grid-column-gap: 6px;
	padding-bottom: 50px;
}

.item {
	width: 285px;
	height: 285px;
	background-image: url("../img/post_11.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&:nth-child(2) {
		background-image: url("../img/post_12.png");
	}

	&:nth-child(3) {
		background-image: url("../img/post_13.png");
	}

	&:nth-child(4) {
		background-image: url("../img/post_14.png");
	}
}

.bg {
	width: 100%;
	height: 550px;
	background-image: url("../img/intro_img.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	
	@media (max-width: 991px) {
		height: 361px;
	}
}

.title_posts {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	padding: 66px 0 24px;
	text-transform: uppercase;
}

// ===========================================

.nav {
	display: flex;
	width: 1170px;
	margin: 0 auto;
	gap: 68px;
	font-family: "Roboto", sans-serif;
	color: #0C1927;
	text-transform: uppercase;
	justify-content: center;
	padding: 45px;

	@media (max-width: 1280px) {
		width: 900px;
		gap: 38px;
	}

	@media (max-width: 991px) {
		width: 690px;
		gap: 13px;
		padding: 25px;
	}
	
	@media (max-width: 769px) {
		width: 100%;
		padding: 15px 0 23px 0;
		justify-content: flex-end;
	}
}

.link {
	cursor: pointer;

	&:hover {
		color: #3c9ae7;
	}
}


.ham-menu {
	height: 44px;
	// width: 47px;
	padding: 6px;
	z-index: 2;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	background-color: black;
	border-radius: 0.25em;

	&.show {
		display: flex;
	}

	&.active {
		padding-left: 14px;
	}
}

.ham-menu .line {
	background-color: white;
	border-radius: 1em;
	width: 2rem;
	height: 0.25rem;
	transform-origin: left;
	transition: all 0.5s;
}

.ham-menu .line2 {
	transition: opacity 150ms linear;
}

.ham-menu.active .line1 {
	display: block;
	transform: rotate(45deg);
}

.ham-menu.active .line2 {
	opacity: 0;
}

.ham-menu.active .line3 {
	display: block;
	transform: rotate(-45deg);
}

.ham-content-wrapper {
	position: absolute;
	overflow: hidden;
	border-radius: 8px;

	@media (min-width: 769px) {
		display: none;
	}
}

.ham-menu-content {
	background-color: black;
	// padding: 50px 100px 50px 24px;
	padding: 46px 107px 50px 24px;
	transform: translate(190px, -245px);
	flex-direction: column;
	gap: 10px;
	display: flex;
	border-radius: 8px;
	transition: all 0.5s linear;


	&.show {
		animation: showContent 0.9s ease-in-out;
		animation-fill-mode: forwards;
	}

	&.hide {
		animation: hideContent 0.9s ease-in-out;
	}

	.link {
		display: block !important;
	}
}


// =================================================
.container {
	width: 100%;
	margin: 20px auto 40px;
}

.post-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.post {
	display: flex;
	margin-bottom: 32px;
	gap: 21px;

	@media (max-width: 991px) {
		width: 100%;
	}
	
	@media (max-width: 601px) {
		flex-direction: column;
	}
}

.post-img {
	width: 160px;
	height: 140px;

	@media (max-width: 991px) {
		width: 250px;
		height: 230px;
	}
	
	@media (max-width: 600px) {
		width: 100%;
		height: 280px;
		object-fit: cover;
		object-position: top;
	}
}

.post-content {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #5C5C5C;
	display: flex;
	flex-direction: column;
	gap: 13px;
	width: 380px;
	&:hover {
		cursor: pointer;
		color: #3c9ae7;
	}


	.text {


		@media (max-width: 601px) {
			display: none;
		}
	}
	
	@media (max-width: 1280px) {
		width: 260px;
	}
	
	@media (max-width: 991px) {
		width: 50%;
	}
}

.bg_2 {
	background: #0000000a;
}


.container_footer {
	display: flex;
	flex-direction: column;
    align-items: center;
	background-color: #000000;
	padding-top: 66px;
}

.text_footer {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #FEFEFE;
	text-transform: uppercase;
	padding-bottom: 22px;

	@media (max-width: 700px) {
		font-size: 16px;
	}
}

.text_info {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #B9B9B9;
	max-width: 670px;
	text-align: center;

	@media (max-width: 700px) {
		font-size: 12px;
		line-height: 20px;
		padding: 0 35px;
	}
}

.icon {
	width: 34px;
	height: 34px;
	background-image: url("../img/icon_rss.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&:nth-child(2) {
		background-image: url("../img/icon_facebook.png");
	}

	&:nth-child(3) {
		background-image: url("../img/icon_twitter.png");
	}

	&:nth-child(4) {
		background-image: url("../img/icon_dribbble.png");
	}

	&:nth-child(5) {
		background-image: url("../img/icon_pinterest.png");
	}
}

.icon_footer {
	list-style: none;
	width: 195px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 37px;
}

.text_contacts {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #B9B9B9;
	text-align: center;
	padding-top: 34px;
	padding-bottom: 70px;

	@media (max-width: 700px) {
		font-size: 14px;
		line-height: 24px;
		line-height: 20px;
		width: 200px;
		padding-top: 25px;
		padding-bottom: 47px;
	}
}