// .is-modal .overlay {
//   opacity: 1;
//   visibility: visible;
// }
// .overlay {
//   position: fixed;
//   right: 0;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   z-index: 200;
//   visibility: hidden;
//   opacity: 0;
//   background-color: rgba(0, 0, 0, 0.4);

//   cursor: pointer;
// }
// .modal {
//   position: fixed;
//   opacity: 0;
//   visibility: hidden;
//   z-index: 201;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   max-width: 660px;
//   width: 100%;
//   box-shadow: 0 2px 16px 0 rgba(21, 27, 37, 0.3);
//   border-radius: 4px;
//   background-color: #fff;
// }

.modal {
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}
.modal__content {
  border: 3px solid blue;
  background-color: red;
  padding: 30px;
  position: relative;
}
.modal__title {
  margin-top: 10px;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
}