.blok {
    padding-left: 15px;
    width: 500px;
}
.title {
    margin: 0;
    padding-bottom: 8px;
    font-size: 35px;
}
.text {
    margin: 0;
    padding-bottom: 4px;
    font-size: 18px;
}
.list {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}
.list_item {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
.text2 {
    margin: 0;
    font-size: 18px;
}
.square {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.blue {
    background-color: #1100ff;
}
.green {
    background-color: #00ff15;
}
.red {
    background-color: #ff0000;
}