.center_bt {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
}
.text_button {
    margin: 0 0 45px;
    font-size: 35px;
}
.button {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #0003c7;
    border: 2px solid #0003c7;
    border-radius: 10px;
    font-size: 22px;
    padding: 8px 0px;
    width: 222px;
    cursor: pointer;

    &:hover {
        background-color: #0041f5;
        color: #ffffff;
        border: 2px solid #6a00f5;
    };

    &:active {
        background-color: #00ff15;
    };
}
