.cssBtn {
    background-color: #1D5B78;
    color: #FFC745;
    border: solid 2px #FFC745;

    &:hover {
        background-color: #fffb00;
        color: #FFFFFF;
        border: solid 2px #FFC745;
    };
}
.dark {
    background-color: #0C1A33;
    color: #ffffff;
}
.darkModal {
    background-color: #0C1A33;
}
// .darkBr {
//     background-color: rgba(83, 83, 83, 0.5);
// }