.check_table {
    display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
}
.text_table {
    margin: 0px;
    font-size: 35px;
}
.my_table {
    border: 1px solid black;
}
.my_td {
    border: 1px solid black;
    padding: 30px;
}
.table_dark {
    border: 1px solid #ffffff;
}
.active {
    background-color: #1100ff;
}
.active2 {
    background-color: #00ff15;
}
.active3 {
    background-color: #ff0000;
}

.text_red {
    color: #ff0000;
}
.text_green {
    color: #00ff15;
}