<section class="recent-posts">
	<div class="container">
		<h2 class="section-title">
			- our Recent posts
		</h2>
		<ul class="resent-posts__list resents">
			<li class="resents__item">
				<a href="#" class="resents__link">
					<img src="./img/recent-posts/post-img-1.jpg" alt="post-img-1" class="resents__img" width="160" height="140">
					<div class="resents__content">
						<h3 class="resents__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<p class="resents__sub-title">
							Photography, Journal &nbsp;&nbsp;/ &nbsp;&nbsp;9 Comments
						</p>
						<p class="resents__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
							vestibulum.
						</p>
					</div>
				</a>
			</li>
			<li class="resents__item">
				<a href="#" class="resents__link">
					<img src="./img/recent-posts/post-img-2.jpg" alt="post-img-2" class="resents__img" width="160" height="140">
					<div class="resents__content">
						<h3 class="resents__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<p class="resents__sub-title">
							Photography, Journal &nbsp;&nbsp;/ &nbsp;&nbsp;9 Comments
						</p>
						<p class="resents__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
							vestibulum.
						</p>
					</div>
				</a>
			</li>
			<li class="resents__item">
				<a href="#" class="resents__link">
					<img src="./img/recent-posts/post-img-3.jpg" alt="post-img-3" class="resents__img" width="160" height="140">
					<div class="resents__content">
						<h3 class="resents__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<p class="resents__sub-title">
							Photography, Journal &nbsp;&nbsp;/ &nbsp;&nbsp;9 Comments
						</p>
						<p class="resents__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
							vestibulum.
						</p>
					</div>
				</a>
			</li>
			<li class="resents__item">
				<a href="#" class="resents__link">
					<img src="./img/recent-posts/post-img-4.jpg" alt="post-img-4" class="resents__img" width="160" height="140">
					<div class="resents__content">
						<h3 class="resents__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<p class="resents__sub-title">
							Photography, Journal &nbsp;&nbsp;/ &nbsp;&nbsp;9 Comments
						</p>
						<p class="resents__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
							vestibulum.
						</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>