.wrapper-btn {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.btn-modal {
  background-color: #b3382b;
  border-radius: 4px;
  border: none;
  width: 7vw;
  height: 6vh;
  color: white;
  text-align: center;
  margin: 20px 0;
}