.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 18vw;
  height: 70vh;
  min-width: min-content;
  min-height:min-content;
  margin: 0 auto;
  border: 2px solid rgba(255, 69, 0, 0.42);
  box-shadow: 0 0 10px 3px rgba(255, 69, 0, 0.42);
  box-sizing: border-box;
  padding: 10px 15px;

  & img {
    width: 100%;
    height: 40vh;
  }
  & svg {
    cursor: pointer;
  }

  & h2 {
  color: orangered;
    font-size: 16px;
    text-align: center;
    margin: 8px 0 0 0;
}
  & p {
    font-size: 12px;
  }

  & .btn-card {
      background-color: rgba(255, 69, 0, 0.56);
      border-radius: 4px;
      border: none;
      color: white;
    padding: 8px ;
      text-align: center;
     position: absolute;
    bottom: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 69, 0, 0.79);
      box-shadow: 0 0 5px 3px rgba(126, 35, 4, 0.55);
    }
    }
}
.icon-starFill {
  fill: orangered;
}

.btn-star {
  background: none;
  border: none;
}
