body {
    margin: 0;
}
.blok_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}

/* BLOK */

.blok {
    padding-left: 15px;
}
.title {
    margin: 0;
    padding-bottom: 8px;
    font-size: 35px;
}
.text {
    margin: 0;
    padding-bottom: 4px;
    font-size: 18px;
}
.list {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}
.list_item {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
.text2 {
    margin: 0;
    font-size: 18px;
}
.square {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.blue {
    background-color: #1100ff;
}
.green {
    background-color: #00ff15;
}
.red {
    background-color: #ff0000;
}

/* TABLE */

.check_table {
    display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
}
.text_table {
    margin: 0px;
    font-size: 35px;
}
.my_table {
    border: 1px solid black;
}
.my_td {
    border: 1px solid black;
    padding: 30px;
}
.table_dark {
    border: 1px solid #ffffff;
}
.active {
    background-color: #1100ff;
}
.active2 {
    background-color: #00ff15;
}
.active3 {
    background-color: #ff0000;
}

.text_red {
    color: #ff0000;
}
.text_green {
    color: #00ff15;
}

/* BUTTON */

.center_bt {
    /* width: 642px; */
    top: 0px;
    right: 0px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
}
.text_button {
    margin: 0 0 45px;
    font-size: 35px;
}
.button {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #0003c7;
    border: 2px solid #0003c7;
    border-radius: 10px;
    font-size: 22px;
    padding: 8px 0px;
    width: 222px;
    cursor: pointer;
}
.button:hover {
    background-color: #0041f5;
    color: #ffffff;
    border: 2px solid #6a00f5;
}
.button:active {
    background-color: #00ff15;
}


.cssBtn {
    background-color: #1D5B78;
    color: #FFC745;
    border: solid 2px #FFC745;
}
.dark {
    background-color: #0C1A33;
    color: #ffffff;
}
.cssBtn:hover {
    background-color: #fffb00;
    color: #FFFFFF;
    border: solid 2px #FFC745;
}