.list-cart {
  padding: 40px 80px;
  display: flex;
  gap: 40px;
  flex-direction: column;;

  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 69, 0, 0.16);
    box-shadow: 0 0 1px 1px rgba(255, 69, 0, 0.13);
    padding: 10px 40px;
  }
}

.total-price {
  text-align: right;
  font-size: 40px;
}