.wrapper-img {
  width: 15vw;
}

img {
  width: 10vw;
  height: 16vh;
}


.wrapper-btn-cart {
  display: flex;
  gap: 30px;
  align-items: center;

  & button {
    background: none;
    border: none;
  }

  & span {
    margin-right: 100px;
    font-size: 36px;
    color: orangered;
  }
}

.btn-count {
  font-size: 40px;
  cursor: pointer;
}

.total-item {
  font-size: 20px;
}